body {
    display: grid;
    grid-template-areas:
    "header"
    "body";
    margin: 0px 0px 0px 0px;
}
#header {
    display: grid;
    margin-top: 0px;
    width: 100%;
    height: 90px;
    text-align: center;
    border-bottom: solid;
    grid-template-areas:
    "p1 head head p2"
    "p1 modal modal p2"
    ;
    grid-area: header;
}
#heading {
    grid-area: head;
}
#player1 {
    grid-area: p1;
}
#player2 {
    grid-area: p2;
}

#player1, #player2 {
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 150px;
    align-items: center;
    display: grid;
    grid-template-areas:
        "player player"
        "wins num";
    font-size: 14px;
}
.player {
    grid-area: player;
    margin: auto;
}
.wins {
    grid-area: wins;

}
.numWins {
    grid-area: num;
}
#main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-area: body;
}
/* Gameboard styling */
#gameboard {
    padding: 50px;
    display:grid;
    grid-template-areas: 
    "grid1 grid2 grid3"
    "grid4 grid5 grid6"
    "grid7 grid8 grid9"
    ;
    width: 60vh;
    height: 60vh;
}
#grid4, #grid6 {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 15px;
}
#grid5 {
    border-style: solid;
    border-width: 15px;
}
#grid2, #grid8 {
    border-right-style: solid;
    border-left-style: solid;
    border-width: 15px;
}
#gameboard > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 54px;
    font-family: sans-serif;
    font-weight: bolder;
    width: 20vh;
    height: 20vh;
}
#gameboard > div:hover {
    background-color: seashell;
}
/* end Gameboard styling */

/* Modal styling */
#baseModal {
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 50%;
    background-color: slategray;
}
#contentModal {
    position: fixed;
    justify-content: center;
    height: 70vh;
    width: 70vh;
    min-height: 400px;
    min-width: 400px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 10px;
}
.modal {
    display: flex;
}
#contentModal > * > * {
    margin-top: 10px;
}
#submit {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;
    width: 60px;
    height: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
}
#confirm {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;
    width: 60px;
    height: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    grid-area: confirm;
}
#reset {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;
    width: 130px;
    height: 20px;
    font-size: 12px;
    bottom: 20px;
    right: 20px;
}
#pNameModal {
    display: none;
    position: fixed;
    grid-template-areas:
    "alert alert alert alert alert alert alert alert alert pnum"
    "txt txt txt txt txt txt txt . confirm confirm"
    ;
    height: 100px;
    width: 500px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    margin: 10px;
}
#pNum {
    grid-area: pnum;
    margin: 15px;
    font-size: 20px;
}
#pNameModal > * {
    margin-left: 30px;
}
#pName {
    grid-area: txt;
    border-radius: 10px;
    border-width: 2px;
    width: 350px;
    height: 20px;
    margin-bottom: 10px;
}
#alert {
    grid-area: alert;
    font-size: 22px; 
}
.button:hover {
    transform:scale(1.05);
    background-color: whitesmoke;
    border-color: goldenrod;
}